.carousel {
    width: 100%;
    border-radius: 13px;
}

.image {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    border-radius: 13px;
}

@media (max-width: 768px) {
    .image {
        width: 100%;
        height: 60vw;
        object-fit: cover;
        border-radius: 13px;
    }
}
