.container {
    width: 100vw;
    max-width: 100%;
    border-bottom: 2px solid #edeeee;
    display: flex;
    flex-direction: row;
    position: relative;
}

.appbarLogo {
    width: 9vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.backButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 2vw;
    cursor: pointer;
}

@media (max-width: 768px) {
    .appbarLogo {
        width: 30vw;
    }

    .backButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8vw;
        height: 6vw;
        cursor: pointer;
    }
}
